@page
@model CASPARWeb.Pages.Administrator.Classrooms.CreateClassroomModel
@{
}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card shadow border-0 mt-4">
            <div class="card-header  ml-0 py-3">
                <h2 class="py-2">Create Classroom</h2>
            </div>
            <div class="card-body p-4">
                <form method="post" class="row">
                    <div class="form-group mt-2">
                        <label for="inputBuilding">Building</label>
                        <select id="inputBuilding" class="form-control" asp-for="inputBuildingName">
                            @if (Model.id == null) {
                                <option disabled selected>--Select Building--</option>

                            } else {
                                <option id="disabledBuilding" disabled selected>@Model.tempBuildingName</option>
                            }
                            @foreach (var enumerable in Model.DropdownBuilding) {
                                <option>@enumerable.BuildingName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group mt-1">
                        <label for="inputClassroomNumber">Classroom Number</label>
                        @if (Model.id == null) {
                            <input type="text" class="form-control" id="inputClassroomNumber" asp-for="inputClassroomNumber" placeholder="classroom number">
                        } else {
                            <input type="text" class="form-control" id="inputClassroomNumber" asp-for="inputClassroomNumber" value="@Model.classRoom.ClassroomNumber">
                        }
                    </div>
                    <div class="form-group mt-1">
                        <label for="inputNumberOfSeats">Number of Seats</label>
                        @if (Model.id == null) {
                            <input type="text" class="form-control" id="inputNumberOfSeats" asp-for="inputClassroomSeats" placeholder="Number of seats">
                        } else {
                            <input type="text" class="form-control" id="inputNumberOfSeats" asp-for="inputClassroomSeats" value="@Model.classRoom.ClassroomSeats">
                        }
                    </div>
                    <div class="form-group mt-1">
                        <label for="inputClassroomDetails">Classroom Details</label>
                        @if (Model.id == null) {
                            <input type="text" class="form-control" id="inputClassroomDetails" asp-for="inputClassroomDetails" placeholder="classroom details">
                        } else {
                            <input type="text" class="form-control" id="inputClassroomDetails" asp-for="inputClassroomDetails" value="@Model.classRoom.ClassroomDetail">
                        }
                    </div>
                    <div class="row pt-2">
                        @if (Model.id == null) {
                            <div class="col-6 col-md-3">
                                <button type="submit" onclick="return ValidateInput()" class="btn btn-primary form-control">Create</button>
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-page="Index" class="btn btn-outline-primary border  form-control">
                                    Back to List
                                </a>
                            </div>
                        } else {
                            <div class="col-4 col-md-3">
                                <button type="submit" onclick="return ValidateInput()" id="submitButton" class="btn btn-primary form-control">Update</button>
                            </div>
                            <div class="col-4 col-md-3">
                                <a asp-page="Index" class="btn btn-outline-primary border  form-control">
                                    Back to List
                                </a>
                            </div>
                            <div class="col-1 col-md-3">
                            </div>
                            <div class="col-3 col-md-3">
                                <button type="submit" id="deleteButton" class="btn btn-outline-danger form-control">Delete</button>
                            </div>
                        }
                    </div>
                    <input type="hidden" id="pressedDelete" asp-for="inputPressedDelete" value="">
                    <input type="hidden" asp-for="editing" id="theId" value="@Model.id">
                </form>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>

<script>
    document.getElementById("deleteButton").addEventListener("click", function () {
        var variableInput = document.getElementById("pressedDelete");
        variableInput.value = "true"; // Set the desired variable value
    });
    function ValidateInput() {
        if (document.getElementById('inputBuilding').value == "--Select Building--") {
            swal.fire('Error', 'Please Select a Building', 'error');
            return false;
        } else if (document.getElementById('inputClassroomNumber').value == "") {

            swal.fire('Error', 'Please enter a Classroom Number', 'error');
            return false;
        } else if (document.getElementById('inputNumberOfSeats').value < 0) {

            swal.fire('Error', 'Please enter a Valid Number of Seats', 'error');
            return false;
        } else if (document.getElementById('inputClassroomDetails').value == "") {

            swal.fire('Error', 'Please enter Classroom Details', 'error');
            return false;
        }
        
        if (document.getElementById('theId') != null) {
            //if we are editing it
            var selectElement = document.getElementById("inputBuilding");
            var optionToEnable = selectElement.options[0];
            optionToEnable.disabled = false;
        }
        return true;
    }
</script>