@page
@model CASPARWeb.Pages.Administrator.SemesterInstances.CreateSemesterInstanceModel
@{
}
<style>
    .bold-text {
        font-weight: bold;
    }
</style>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card shadow border-0 mt-4">
            <div class="card-header  ml-0 py-3">
            <h2 class="py-2">Create Semester</h2>
            </div>
            <div class="card-body p-4">
                <form method="post" class="row">
                        @*<div asp-validation-summary="ModelOnly"></div>*@
                    <div class="form-group mt-1">
                        <label for="inputSemesterName">Semester Name</label>
                        @if(Model.id == null) {
                            <input type="text" class="form-control" asp-for="inputSemesterName" id="inputSemesterName" placeholder="semester name">
                        } else{
                            <input type="text" class="form-control" asp-for="inputSemesterName" id="inputSemesterName" value="@Model.selectedSemesterInstance.SemesterInstanceName">
                        }
                    </div>
                    <div class="form-row">
                        <div class="form-group mt-2">
                            <label for="inputSemesterTemplate">Template</label>
                            <select id="inputSemesterTemplate" class="form-control" asp-for="inputSemesterTemplate">
                                @if (Model.id == null){
                                    <option disabled selected>--Select Template--</option>

                                } else {
                                    <option id="disabledSemesterName" disabled selected>@Model.selectedSemester.SemesterName</option>
                                }
                                @foreach (var enumerable in Model.DropdownItems) {
                                    <option>@enumerable.SemesterName</option>
                                }
                            </select>
                        </div>
                        <div class="form-group mt-2">
                            <label for="inputSemesterStatus">Status</label>
                            <select id="inputSemesterStatus" class="form-control" asp-for="inputSemesterStatus">
                                @if (Model.id == null) {
                                    <option disabled selected>--Select Status--</option>
                                } else {
                                    <option id="disabledScheduleStatus" disabled selected">@Model.selectedSemesterInstance.ScheduleStatus</option>
                                }
                                <option>P</option>
                                <option>C</option>
                                <option>Active</option>
                                <option>Inactive</option>
                            </select>
                        </div>
                        <div class="form-group mt-3">
                            <label for="inputSemesterStartEndDate">Semester Start/End Date:</label>
                            <div class="container p-3 ">
                                <div class="row" id="inputSemesterStartEndDate">
                                    <div class="form-group col-6">
                                        <label for="inputSemesterStartDate">Start Date</label>
                                            <input class="form-control" type="date" id="inputSemesterStartDate" asp-for="inputSemesterStartDate" value="@Model.initalDateTimes[0]">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="inputSemesterEndDate">End Date</label>
                                        <input class="form-control" type="date" id="inputSemesterEndDate" asp-for="inputSemesterEndDate" value="@Model.initalDateTimes[1]">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <label for="inputRegistrationStartEndDate">Registration Start/End Date:</label>
                            <div class="container p-3">
                                <div class="row" id="inputRegistrationStartEndDate">
                                    <div class="form-group col-6">
                                        <label for="inputRegistrationStartDate">Start Date</label>
                                        <input class="form-control" type="date" id="inputRegistrationStartDate" asp-for="inputRegistrationStartDate" value="@Model.initalDateTimes[2]">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="inputRegistrationEndDate">End Date</label>
                                        <input class="form-control" type="date" id="inputRegistrationEndDate" asp-for="inputRegistrationEndDate" value="@Model.initalDateTimes[3]">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-2">
                                @if (Model.id == null) {
                                    <div class="col-6 col-md-3">
                                        <button type="submit" onclick="return ValidateInput()" class="btn btn-primary form-control">Create</button>
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <a asp-page="Index" class="btn btn-outline-primary border  form-control">
                                            Back to List
                                        </a>
                                    </div>
                                } else {
                                    <input type="hidden" id="pressedDelete" asp-for="inputPressedDelete" value="">
                                    <input type="hidden" id="theId" asp-for="inputPressedDelete" value="@Model.id">
                                    <div class="col-4 col-md-3">
                                    <button type="submit" onclick="return ValidateInput()" id="submitButton" class="btn btn-primary form-control">Update</button>
                                    </div>
                                    <div class="col-4 col-md-3">
                                        <a asp-page="Index" class="btn btn-outline-primary border  form-control">
                                            Back to List
                                        </a>
                                    </div>
                                    <div class="col-1 col-md-3">
                                    </div>
                                    <div class="col-3 col-md-3">
                                        <button type="submit" id="deleteButton" class="btn btn-outline-danger form-control">Delete</button>
                                    </div>
                                }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
<script>
    document.getElementById("submitButton").addEventListener("click", function () {
        var variableInput = document.getElementById("pressedDelete");
        variableInput.value = "false"; // Set the desired variable value
    });
    function ValidateInput() {
        if (document.getElementById('inputSemesterName').value == "") {
            swal.fire('Error', 'Please Enter a Semester Name', 'error');
            return false;
        }
        else if (document.getElementById('inputSemesterTemplate').value == "--Select Template--") {
            swal.fire('Error', 'Please select a Semester Template', 'error');
            return false;
        }
        else if (document.getElementById('inputSemesterStatus').value == "--Select Status--") {
            swal.fire('Error', 'Please select a Semester Status', 'error');
            return false;
        }
        else if (document.getElementById('inputSemesterStartDate').value == "") {
            swal.fire('Error', 'Please select a Semester Start Date', 'error');
            return false;
        } else if (document.getElementById('inputSemesterStartDate').value >= document.getElementById('inputSemesterEndDate').value) {
            swal.fire('Error', 'Please make sure your Semester Start Date is less than the Semester End Date', 'error');
            return false;
        } else if (document.getElementById('inputSemesterEndDate').value == "") {
            swal.fire('Error', 'Please select a Semester End Date', 'error');
            return false;
        }
        else if (document.getElementById('inputRegistrationStartDate').value == "") {
            swal.fire('Error', 'Please select a Registration Start Date', 'error');
            return false;
        } else if (document.getElementById('inputRegistrationStartDate').value >= document.getElementById('inputRegistrationEndDate').value) {
            swal.fire('Error', 'Please make sure your Registration Start Date is less than the Registration End Date', 'error');
            return false;
        }
        else if (document.getElementById('inputRegistrationEndDate').value == "") {
            swal.fire('Error', 'Please select a Registration End Date', 'error');
            return false;
        }
        if (document.getElementById('theId') != null) {

            var selectElement = document.getElementById("inputSemesterStatus");

            var optionToEnable = selectElement.options[0];

            optionToEnable.disabled = false;
            selectElement = document.getElementById("inputSemesterTemplate");

            optionToEnable = selectElement.options[0]; 

            optionToEnable.disabled = false;
        }
        return true;
    }
</script>